{% extends "layout.html" %}

{% block styles %}
<link src="/static/css/catalog.css" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>Vidflix - Catalog</h1>
<h3>With a total of {{ movies.count }} movies</h3>

<div class="row">
    <div class="col">

        {% for movie in movies %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{movie.image_url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <a href="/details/{{movie.id}}" class="btn btn-primary">View details</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}